/**
 * Place your custom CSS styles here.
 **/
 .bla{
	 
 }
 
 
 #btnSepetimInjectionGG{
	 top:0 !important;
	 right:0 !important;
	  float: right;
    font-size: 16px;
    top: 18px;
    right: 10px;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    text-align: center;
 }
