<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../kaldirirmi-styles/kaldirirmi-top-menu-shared-styles.html">
<link rel="stylesheet" href="/assets/css/mainlogin.css">

<dom-module id="kaldirirmi-top-menu">
    <template>
        <style is="custom-style">
              :root {
               --paper-input-container-input-color: white;

                --paper-input-container-color: #ff7800;
                /* Label and underline color when the input is focused */
                --paper-input-container-focus-color: #EE7813;
                /* Label and underline color when the input is invalid */
                --paper-input-container-invalid-color: red;
                /* Input foreground color */
            }

            #piloginusername, #piloginpassword {
                --paper-input-container-input:{
                      font-size: 1.25em !important;
                }
                --paper-input-container-label:{
                      font-size: 0.80em !important;
                }
            }

            .user-layer .tab-content .tab-content-login{
                    z-index: 3;
                overflow: hidden !important;
                padding: 20px;
            }
            .user-layer .tab-content .tab-content-login .tab-content-login-details{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
            }
            .user-layer .tab-content .tab-content-login .tab-content-login-details .btns{
                   margin: 10px 0px;
            }
            .user-layer .tab-content .tab-content-login .tab-content-login-details .btns button{
                display: -ms-inline-flexbox;
                display: -webkit-inline-flex;
                display: inline-flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                position: relative;
                box-sizing: border-box;
                min-width: 5.14em;
                margin: 0 0.29em;
                background: transparent;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
                font: inherit;
                text-transform: uppercase;
                outline-width: 0;
                border-radius: 3px;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: pointer;
                z-index: 0;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                margin-top: 20px;
                margin: 0 auto;
                width: 50% !important;
                background: #ff7800;
                color: white;
                border-color: transparent;
                font-size: 18px;
                padding: 15px;
                margin: 0 auto !important;
                width: 100% !important;
            }
            .user-layer .tab-content .tab-content-login .tab-content-login-details .button-group{
                display:flex;
                flex-direction:column;
            }
            .user-layer .tab-content .tab-content-login .tab-content-login-details .button-group paper-button{
                font-size: 18px;
                padding: 15px;
                margin: 11px 5px;
                color: white !important;
                text-transform: capitalize;
                text-align: center;
            }

                /* Mobile Login*/
            .mobile-login-btn, .profile-link-button {
                text-transform: capitalize;
                color: #fff;
                /*background-color: #222;*/
                font-size: calc(0.3em + 1vmin) !important;
                /*margin-left: 2em;*/
            }
                .mobile-login-btn p, .profile-link-button p {
                    margin: 0px !important;
                    font-size:14px;
                }
            .mobile-login {
                position: fixed;
                top: 150%;
                left: 0;
                height: 100%;
                width: 100%;
                /*background: #EEE;*/
                -webkit-transition: -webkit-transform .3s;
                transition: -webkit-transform .3s;
                transition: transform .3s;
                transition: transform .3s, -webkit-transform .3s;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                z-index: 2000;
                background:#222;
                opacity:0.9;
            }
                .mobile-login.searching {
                    -webkit-transform: translateY(-142%);
                    transform: translateY(-142%);
                }
                .mobile-login .header {
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    background: #ff7800;
                    height: 55px;
                    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
                }
                    .mobile-login .header .back {
                        width: 58px;
                        height: 58px;
                        margin-left: 10px;
                        background: url('../img/arrowbackblack.svg') center no-repeat;
                    }
                    .mobile-login .header .back-btn-mobilelogin {
                        color: #222;
                        width: 45px;
                        height: 45px;
                    }
                    .mobile-login .header .title {
                        color: #222;
                        display: flex;
                        width: 75%;
                        justify-content: center;
                        font-size: 25px;
                    }
            #loginlayermobile {
                z-index: 3;
                height: 500px !important;
                overflow: hidden !important;
                padding: 20px;
            }
            @media only screen and (max-width: 768px){
                #loginlayermobile {
                    min-height: calc(100vh - 109px);
                    overflow: scroll !important;
                }
            }
                #loginlayermobile .searchresultsmobile {
                    display: flex;
                    position:relative;
                    flex-direction: column;
                    /*background-color: #eee;
                    color: black;*/
                    width: 100%;
                    height: 100%;
                }
                    #loginlayermobile .searchresultsmobile .btns {
                        display: flex;
                        margin: 6px 0px;
                    }
                        #loginlayermobile .searchresultsmobile .btns #loginbtnMobile {
                            @apply(--layout-inline);
                            @apply(--layout-center-center);
                            position: relative;
                            box-sizing: border-box;
                            min-width: 5.14em;
                            margin: 0 0.29em;
                            background: transparent;
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            -webkit-tap-highlight-color: transparent;
                            font: inherit;
                            text-transform: uppercase;
                            outline-width: 0;
                            border-radius: 3px;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            -webkit-user-select: none;
                            user-select: none;
                            cursor: pointer;
                            z-index: 0;
                            @apply(--paper-font-common-base);
                            @apply(--paper-button);
                            margin-top: 20px;
                            margin: 0 auto;
                            width: 50% !important;
                            background: #ff7800;
                            color: white;
                            border-color: transparent;
                            font-size: 18px;
                            padding: 15px;
                            margin: 0 auto !important;
                            width: 50% !important;
                        }
                    #loginlayermobile .searchresultsmobile paper-button {
                        font-size: 18px;
                        padding: 15px;
                        margin: 11px 5px;
                        color: white !important;
                    }
                    .nav-bar-container .nav-user .user .web-login-btn{
                            margin: 0 !important;
                          height: 50px !important;
                    }
                    .nav-bar-container .nav-user .user .web-login-btn p{
                            margin: 0 !important;
                    }
                    /* media queries */
            @media (max-width: 700px) {
                .web-login-btn {
                    display: none !important;
                }
            }
            @media (min-width: 700px) {
                .mobile-login-btn, .profile-link-button {
                    display: none !important;
                }
            }


            .user-layer .tab-content .tab-content-profile{
                z-index: 3;
                overflow: hidden !important;
                padding: 5px;
            }
            .user-layer .tab-content .tab-content-profile .tab-content-profile-details{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
            }

              #profile-group {
                display: flex;
                flex-flow: column !important;
            }
               #profile-group .profile-child-group{
                   display:flex;
                   flex-flow: row !important;
                   width: 100%;
               }

                #profile-group .profile-child-group .child-detail {
                    margin:5px;
                    width: 50%;
                     min-height: 5em;
                    height: 125px;
                    height: calc(5em + 1vmin) !important;
                     box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12),
                      0 5px 5px -3px rgba(0, 0, 0, 0.4);
                }
                #profile-group .profile-child-group .child-detail a{
                    text-decoration:none;
                    @apply(--layout-vertical);
                    @apply(--layout-center-center);
                    color:white;
                    width: 100%;
                    height: 100%;
                    position:relative;
                }
                #profile-group .profile-child-group .child-detail a paper-fab{
                    --paper-fab-background: #ff7800 !important;
                }
                 #profile-group .profile-child-group .child-detail a div{
                         margin: 10px;
                        font-size: 20px;
                 }
            @media only screen and (max-width: 760px) {
                .user-layer{
                    left:0; 
                    width: 100%;

                }
                .user-layer .nav{
                        margin-bottom: 0px !important;
                        border-bottom: 3px solid #ff7800;
                }

                 #profile-group .profile-child-group .child-detail{
                         height: 100px;
                 }
            }
                 @media only screen and (max-width: 1100px){
                     .user-layer{
                            top: 10%;
                         left: 20%;
                     }
                 }
                 .nav-user-mobile .user-mobile paper-button{
                              text-transform: capitalize;
                            color: #fff;
                            background: #222;
                            font-size: calc(0.3em + 1vmin) !important;
                    }
                  .nav-user-mobile .user-mobile paper-button  p{
                            margin: 0 !important;
                            font-size: 16px;
                    }


                 @media only screen and (min-width : 1224px) { /* zoom %150 */
                    .user-layer {
                        width: 400px;
                        left: 37%;
                        top: 5%;
                    }

                        .user-layer .tab-content .tab-content-login .tab-content-login-details .btns button,
                        .user-layer .tab-content .tab-content-login .tab-content-login-details .button-group paper-button{
                            font-size: calc(0.33em + 1vmin) !important;
                            padding: 10px;
                        }

                          #piloginusername, #piloginpassword {
                            --paper-input-container-input:{
                                  font-size: calc(0.7em + 1vmin) !important;
                            }
                            --paper-input-container-label:{
                                  font-size: calc(0.5em + 1vmin) !important;
                            }
                        }


                 }
                 @media only screen and (min-width : 1440px) { /* zoom % 125*/
                    .user-layer {
                           width: 450px;
                            left: 40%;
                            top: 5%;
                    }

                        /*.user-layer .tab-content .tab-content-login .tab-content-login-details .btns button {
                            font-size: 18px;
                            padding: 15px;
                        
                        }*/

                 }
                 @media only screen and (min-width : 1640px) { /* zoom %110*/
                     .user-layer {
                        width: 500px;
                        left: 40%;
                        top: 0%;
                    }
                 }
                 #loginmessage{
                     margin-top:10px; 
                     font-size: calc(0.4em + 1vmin) !important;
                 }

        </style>
            <paper-button raised class="mobile-login-btn">
                <iron-icon icon="[[icondetail]]"></iron-icon>
                <p>[[menutitle]]</p>
            </paper-button>

        <!-- Web Login -->
        <div class="nav-bar-container">
            <div class="nav-user">
                    <div class="user">
                        <paper-button raised class="web-login-btn" style="text-transform:capitalize">
                            <iron-icon icon="[[icondetail]]"></iron-icon>
                            <p>[[menutitle]]</p>
                        </paper-button>
                    </div>
                    <div class="cross">
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
            </div>
            <div class="overlay">
                <div class="starting-point">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="layer-container">
            <div class="user-layer">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <iron-image alt="Kaldirirmi.com Beyaz Logo" src="/assets/img/kallogowhite.png" sizing="cover"></iron-image>
                    </ul>
                    <div class="no-gutters tab-content">
                        <template is="dom-if" if="[[loginstatus]]">
                            <div class="tab-content-login">
                                <div class="tab-content-login-details">
                                    <paper-ripple recenters></paper-ripple>
                                    <form id="loginform" is="iron-form" action="/h/main" method="post">
                                        <input type="hidden" name="fm" value="login" />
                                        <paper-input id="piloginusername" type="text" label="Kullanıcı Adı" name="username" required auto-validate error-message="bu alanın doldurulması zorunludur" maxlength="12"></paper-input>
                                        <paper-input id="piloginpassword" type="password" label="Şifre" name="password" required auto-validate error-message="bu alanın doldurulması zorunludur" maxlenght="16"></paper-input>
                                        <div id="loginmessage"></div>
                                        <div class="btns">
                                            <button id="loginbtn" class="theme-color" type="submit">Giriş</button>
                                        </div>
                                    </form>
                                    <div class="divider">ya da</div>
                                    <div class="button-group">
                                        <paper-button raised style="background:#3B5998;" class="facebook" onclick="load(); location.href='/auth/facebook/login';">Facebook ile  Giriş Yap / Kayıt Ol</paper-button>
                                        <paper-button raised style="background:#D73D32;" class="google" onclick="load(); location.href='/auth/google/login';">Google ile Giriş Yap / Kayıt Ol</paper-button>
                                        <paper-button raised style="background:#6441A4;" class="twitch" onclick="load(); location.href='/auth/twitch/login';">Twitch ile  Giriş Yap / Kayıt Ol</paper-button>
                                    
                                     </div>
                                </div>
                            </div>
                        </template>
                        <template is="dom-if" if="[[profilestatus]]">
                            <div class="tab-content-profile">
                                <div class="tab-content-profile-details">
                                    <div id="profile-group">
                                        <div class="profile-child-group">
                                            <div class="child-detail">
                                                <a href="/uye/profil">
                                                        <paper-ripple></paper-ripple>
                                                        <paper-fab class="main-color" icon="icons:accessibility" title="Profil"></paper-fab>
                                                        <div class="card-content" style="text-align:center">Profil</div>
                                                </a>
                                            </div>
                                            <div class="child-detail">
                                                <a href="/uye/profil#twitch">
                                                       <paper-ripple></paper-ripple>
                                                        <paper-fab class="main-color" title="Twitch" icon="kaldirirmi:twitch"></paper-fab>
                                                        <div class="card-content" style="text-align:center;">Twitch</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="profile-child-group">
                                                <div class="child-detail">
                                                    <a href="/uye/profil#system">
                                                        <paper-ripple></paper-ripple>
                                                             <paper-fab class="main-color" icon="icons:system-update-alt" title="Sistem"></paper-fab>
                                                            <div class="card-content" style="text-align:center">Sistem</div>
                                                    </a>
                                                </div>
                                                <div class="child-detail">
                                                    <a href="/uye/profil#games">
                                                        <paper-ripple></paper-ripple>
                                                                <paper-fab class="main-color" icon="hardware:videogame-asset" title="Oyunlar"></paper-fab>
                                                            <div class="card-content" style="text-align:center">Oyunlar</div>
                                                    </a>
                                                </div>
                                        </div>
                                        <div class="profile-child-group">
                                            <div class="child-detail">
                                                <a href="/uye/profil#forum">
                                                    <paper-ripple></paper-ripple>
                                                        <paper-fab class="main-color" icon="communication:forum" title="Forum"></paper-fab>
                                                        <div class="card-content" style="text-align:center">Forum</div>
                                                </a>
                                            </div>
                                            <div class="child-detail">
                                                <a href="/uye/cikis">
                                                    <paper-ripple></paper-ripple>
                                                        <paper-fab class="main-color" icon="icons:exit-to-app" title="Çıkış"></paper-fab>
                                                        <div class="card-content" style="text-align:center">Çıkış</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                   </div>
            </div>
        </div>

        <!-- Mobile Login -->
        <div class="mobile-login">
            <template is="dom-if" if="[[loginstatus]]">
                <div class="header">
                    <paper-icon-button icon="arrow-back" class="back-btn-mobilelogin"></paper-icon-button>
                    <div class="title">Giriş Yap / Kayıt Ol</div>
                </div>
                <div id="loginlayermobile">
                    <div class="searchresultsmobile">
                        <paper-ripple recenters></paper-ripple>
                        <form id="loginformMobile" is="iron-form" action="/h/main" method="post">
                            <input type="hidden" name="fm" value="login" />
                            <paper-input id="piloginusernameMobile" type="text" label="Kullanıcı Adı" name="username" required auto-validate error-message="bu alanın doldurulması zorunludur" maxlength="12"></paper-input>
                            <paper-input id="piloginpasswordMobile" type="password" label="Şifre" name="password" required auto-validate error-message="bu alanın doldurulması zorunludur" maxlenght="16"></paper-input>
                            <div id="loginmessageMobile" style="margin-top:20px; font-size: 15px; text-align: center;"></div>
                            <div class="btns">
                                <button id="loginbtnMobile" class="theme-color" type="submit">Giriş</button>
                            </div>
                        </form>
                        <div class="divider">ya da</div>
                        <paper-button raised style="background:#D73D32;" class="google" onclick="load(); location.href='/auth/google/login';">Google ile Giriş Yap / Kayıt Ol</paper-button>
                        <paper-button raised style="background:#6441A4;" class="twitch" onclick="load(); location.href='/auth/twitch/login';">Twitch ile  Giriş Yap / Kayıt Ol</paper-button>
                        <paper-button raised style="background:#3B5998;" class="facebook" onclick="load(); location.href='/auth/facebook/login';">Facebook ile  Giriş Yap / Kayıt Ol</paper-button>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[profilestatus]]">
                <div class="header">
                    <paper-icon-button icon="arrow-back" class="back-btn-mobilelogin"></paper-icon-button>
                    <div class="title">Profil Kısayolları</div>
                </div>
                <div id="loginlayermobile">
                    <div class="searchresultsmobile">
                        <div id="profile-group">
                            <div class="profile-child-group">
                                <div class="child-detail">
                                    <a href="/uye/profil">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" icon="icons:accessibility" title="Profil"></paper-fab>
                                        <div class="card-content" style="text-align:center">Profil</div>
                                    </a>
                                </div>
                                <div class="child-detail">
                                    <a href="/uye/profil#twitch">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" title="Twitch" icon="kaldirirmi:twitch"></paper-fab>
                                        <div class="card-content" style="text-align:center;">Twitch</div>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-child-group">
                                <div class="child-detail">
                                    <a href="/uye/profil#system">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" icon="icons:system-update-alt" title="Sistem"></paper-fab>
                                        <div class="card-content" style="text-align:center">Sistem</div>
                                    </a>
                                </div>
                                <div class="child-detail">
                                    <a href="/uye/profil#games">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" icon="hardware:videogame-asset" title="Oyunlar"></paper-fab>
                                        <div class="card-content" style="text-align:center">Oyunlar</div>
                                    </a>
                                </div>
                            </div>
                            <div class="profile-child-group">
                                <div class="child-detail">
                                    <a href="/uye/profil#forum">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" icon="communication:forum" title="Forum"></paper-fab>
                                        <div class="card-content" style="text-align:center">Forum</div>
                                    </a>
                                </div>
                                <div class="child-detail">
                                    <a href="/uye/cikis">
                                        <paper-ripple></paper-ripple>
                                        <paper-fab class="main-color" icon="icons:exit-to-app" title="Çıkış"></paper-fab>
                                        <div class="card-content" style="text-align:center">Çıkış</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
</div>

    </template>
    <script>
        Polymer({
            is: "kaldirirmi-top-menu",
            properties: {
                menutype: {
                    type: String,
                    notify: true
                },
                menutitle: {
                    type: String,
                    notify: true
                },
                loginstatus: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                alertstatus: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                profilestatus: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                icondetail: {
                    type: "String",
                    value: 'social:person-add',
                    notify: true
                },
                bemoderator: {
                    type: Boolean,
                    value: false,
                    notify: true
                }
            },
            ready: function () {
                if (this.menutype == 'loginmenu') {
                    this.icondetail = 'apps';
                    this.loginstatus = true;
                }
                else if (this.menutype == 'profilemenu') { 
                    this.icondetail = 'social:person-outline';
                    this.profilestatus = true;

                }
            },
            _gologinpage: function () {
                document.getElementById('ironpageloginregister').select(0);
            },
            _goregisterpage: function () {
                document.getElementById('ironpageloginregister').select(1);

            }
        });


        $(document).ready(function () {
            if (document.getElementById('piloginusername') !== null || document.getElementById('piloginpassword') !== null)
            {
                document.getElementById('loginbtn').addEventListener('click', function () {

                    if (document.getElementById('piloginusername').validate() && document.getElementById('piloginpassword').validate()) {
                        //load();
                        setTimeout(function () { document.getElementById('loginform').submit(); }, 500);
                    }

                });

                document.getElementById('loginform').addEventListener('iron-form-response', function (a) {

                    console.log('loginform');
                    if (a.detail.response.success) {
                        //unload();
                        loginmessage.innerHTML = a.detail.response.message;
                        loginmessage.style.color = "#ff7800";
                        location.reload();

                    } else {
                        document.getElementById('loginform').reset();
                        loginmessage.innerHTML = a.detail.response.message;
                        loginmessage.style.color = "#D50000";

                    }
                });

            }

            //Mobile Login
            var loginmessageMobile = $('#loginmessageMobile');
            if (document.getElementById('piloginusernameMobile') !== null || document.getElementById('piloginpasswordMobile') !== null) {
                document.getElementById('loginbtnMobile').addEventListener('click', function () {
                    console.log('click');
                    if (document.getElementById('piloginusernameMobile').validate() && document.getElementById('piloginpasswordMobile').validate()) {
                        //load();
                        setTimeout(function () { document.getElementById('loginformMobile').submit(); }, 500);
                    }

                });

                document.getElementById('loginformMobile').addEventListener('iron-form-response', function (a) {
                    console.log('loginformmobile');
                    if (a.detail.response.success)
                    {
                        console.log('success');
                        //unload();
                        loginmessageMobile.text(a.detail.response.message);
                        loginmessageMobile.css('color', '#ff7800');
                        location.reload();

                    } else {
                        document.getElementById('loginformMobile').reset();
                        loginmessageMobile.text(a.detail.response.message);
                        loginmessageMobile.css('color', '#D50000');
                    }
                });

            }

        });
        $(document).ready(function () {
            $('.mobile-login-btn, .mobile-login .back-btn-mobilelogin').on('click', function () { $('.mobile-login').toggleClass('searching'); })
        });

        $(document).ready(function () {

            function initLayer() {
                var e = $(window).height(),
                    a = $(window).width(),
                    s = $(".starting-point"),
                    t = 2 * Math.sqrt(Math.pow(e, 2) + Math.pow(a, 2));
                s.children("span").velocity({
                    scaleX: 0,
                    scaleY: 0,
                    translateZ: 0
                }, 50).velocity({
                    height: t + "px",
                    width: t + "px",
                    top: -(t / 2) + "px",
                    left: -(t / 2) + "px"
                }, 0)
            };
            function listenForUserLayer() {
                $(".nav-user, .nav-user-mobile").on("click", function () {
                    var e = $(this),
                        a = $(".starting-point"),
                        s = $(".overlay"),
                        t = $("body"),
                        n = $(".content"),
                        i = $(".user-layer"),
                        l = $(".messages"),
                        o = $(".scrollable-tabs");
                    $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                        var a = $(e.target).attr("href");
                        "#messages" == a && l.scrollTop(l.prop("scrollHeight"))
                    }), e.hasClass("active") ? (i.removeClass("active"), e.addClass("rotating"), n.removeClass("scaled"), setTimeout(function () {
                        $.Velocity.animate(a.children("span"), {
                            translateZ: 0,
                            scaleX: 0,
                            scaleY: 0
                        }, {
                            duration: 500,
                            easing: [.42, 0, .58, 1],
                            complete: function () {
                                e.removeClass("active rotating"), s.removeClass("active overlay-user"), i.removeClass("activating"), t.removeClass("disable-scroll"), o.removeClass("disabled")
                            }
                        })
                    }, 200)) : (n.addClass("scaled"), i.addClass("activating"), o.addClass("disabled"), setTimeout(function () {
                        $("#send-message-input").val("").trigger("input"), t.addClass("disable-scroll"), s.addClass("overlay-user active"), e.addClass("active"), i.addClass("active"), l.scrollTop(l.prop("scrollHeight")), $.Velocity.animate(a.children("span"), {
                            translateZ: 0,
                            scaleX: 1,
                            scaleY: 1
                        }, {
                            duration: 500,
                            easing: [.42, 0, .58, 1]
                        })
                    }, 50))
                })
            }

            initLayer();
            listenForUserLayer();

        });
    </script><!-- polymer scripts-->


</dom-module>
