<!-- IRON ------------------------------------------------------------------ -->
<!-- Iron Icons-->
<link rel="import" href="../iron-icons/iron-icons.html" />
<link rel="import" href="../iron-icons/av-icons.html" />
<link rel="import" href="../iron-icons/communication-icons.html" />
<link rel="import" href="../iron-icons/device-icons.html" />
<link rel="import" href="../iron-icons/editor-icons.html" />
<link rel="import" href="../iron-icons/hardware-icons.html" />
<link rel="import" href="../iron-icons/image-icons.html" />
<link rel="import" href="../iron-icons/maps-icons.html" />
<link rel="import" href="../iron-icons/social-icons.html" />
<link rel="import" href="../iron-icons/places-icons.html" />
<link rel="import" href="../iron-icons/notification-icons.html" />
<!-- Iron Image-->
<link rel="import" href="../iron-image/iron-image.html" />
<!-- Iron Form-->
<link rel="import" href="../iron-form/iron-form.html" />
<!--  Iron Pages-->
<link rel="import" href="../iron-pages/iron-pages.html" />
<!-- Iron Scroll Threshold-->
<link rel="import" href="../iron-scroll-threshold/iron-scroll-threshold.html" />
<!-- Iron Ajax-->
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<!-- Iron Flex Layout-->
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html" />
<!-- Iron Input-->
<link rel="import" href="../iron-input/iron-input.html" />
<!-- Iron Swipable Container-->
<link rel="import" href="../iron-swipeable-container/iron-swipeable-container.html" />
<!-- Iron Collapse -->
<link rel="import" href="../iron-collapse/iron-collapse.html" />
<!-- Iron List -->
<link rel="import" href="../iron-list/iron-list.html" />


<!-- PAPER ------------------------------------------------------------------ -->
<!-- Paper Fab -->
<link rel="import" href="../paper-fab/paper-fab.html" />
<!-- Paper Badge-->
<link rel="import" href="../paper-badge/paper-badge.html" />
<!-- Paper Button-->
<link rel="import" href="../paper-button/paper-button.html" />
<!-- Paper Card-->
<link rel="import" href="../paper-card/paper-card.html" />
<!-- Paper Checkbox-->
<link rel="import" href="../paper-checkbox/paper-checkbox.html" />
<!-- Paper Dialog-->
<link rel="import" href="../paper-dialog/paper-dialog.html" />
<!-- Paper Dialog Scrollable-->
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html" />
<!-- Paper Tabs-->
<link rel="import" href="../paper-tabs/paper-tabs.html" />
<!-- Paper Tabs Icons-->
<link rel="import" href="../paper-tabs/paper-tabs-icons.html" />
<!-- Paper Tab-->
<link rel="import" href="../paper-tabs/paper-tab.html" />
<!-- Paper Spinner Lite-->
<link rel="import" href="../paper-spinner/paper-spinner.html" />
<link rel="import" href="../paper-spinner/paper-spinner-lite.html" />
<!-- Paper Material-->
<link rel="import" href="../paper-material/paper-material.html" />
<!-- Paper Tooltip-->
<link rel="import" href="../paper-tooltip/paper-tooltip.html" />
<!-- Paper Toast-->
<link rel="import" href="../paper-toast/paper-toast.html" />
<!-- Paper Input / TextArea -->
<link rel="import" href="../paper-input/paper-textarea.html" />
<link rel="import" href="../paper-input/paper-input.html" />

<!-- Paper Item -->
<link rel="import" href="../paper-item/all-imports.html" />
<!-- Paper Icon Button -->
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />
<!-- Paper Star Rating -->
<link rel="import" href="../paper-star-rating/paper-star-rating.html" />
<!-- Paper Drawer Panel -->
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html" />
<!-- Paper Header Panel -->
<link rel="import" href="../paper-header-panel/paper-header-panel.html" />
<!-- Paper Menu-->
<link rel="import" href="../paper-menu/paper-menu.html" />
<!-- Paper Submenu-->
<link rel="import" href="../paper-menu/paper-submenu.html" />
<!-- Paper dropdown menu-->
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<!-- Paper Listbox-->
<link rel="import" href="../paper-listbox/paper-listbox.html">
<!-- Paper Ripple -->
<link rel="import" href="../paper-ripple/paper-ripple.html" />

<!-- paper styles-->
<link rel="import" href="../paper-styles/shadow.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../paper-styles/paper-styles.html">


<!-- APP LAYOUT -------------------------------------------------------------------------- -->
<!-- Import All app layout component -->
<link rel="import" href="../app-layout/app-layout.html" />

<!-- NEON ------------------------------------------------------------------------------- -->
<link rel="import" href="../neon-animation/neon-animation.html">
<link rel="import" href="../neon-animation/neon-animations.html">
<link rel="import" href="../neon-animation/neon-animation-behavior.html">
<link rel="import" href="../neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../neon-animation/neon-animatable.html">
<link rel="import" href="../neon-animation/neon-animated-pages.html">
<link rel="import" href="../neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../neon-animation/neon-shared-element-animation-behavior.html">
<link rel="import" href="../neon-animation/web-animations.html">

<!-- Neon /Animations -->
<link rel="import" href="../neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../neon-animation/animations/hero-animation.html">
<link rel="import" href="../neon-animation/animations/opaque-animation.html">
<link rel="import" href="../neon-animation/animations/reverse-ripple-animation.html">
<link rel="import" href="../neon-animation/animations/ripple-animation.html">
<link rel="import" href="../neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../neon-animation/animations/transform-animation.html">
<link rel="import" href="../neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../neon-animation/animations/slide-from-top-animation.html">
<link rel="import" href="../neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../neon-animation/animations/slide-right-animation.html">
<link rel="import" href="../neon-animation/animations/slide-left-animation.html">

<!-- PARALLAX ELEMENT ----------------------------------------------------------------------- -->
<link rel="import" href="../parallax-element/parallax-element.html" />
<link rel="import" href="../parallax-element/parallax-layers.html" />
<link rel="import" href="../parallax-element/parallax-scroller-behavior.html" />

<!-- LOADER PACMAN IMPORT -->
<link rel="import" href="../paper-spinner/loader-pac.html">

<!-- Site Copyright-->
<link rel="import" href="../kaldirirmi/kaldirirmi-sitecopyright.html"/>

<!-- Paper- auto complete-->
<link rel="import" href="../paper-autocomplete/paper-autocomplete.html"/>

<!-- Paper fab Scroll to Top-->
<link rel="import" href="../paper-fab-scroll-to-top/paper-fab-scroll-to-top.html" />


<!-- Custom Icons -->
<link rel="import" href="../kaldirirmi/kaldirirmi-custom-icons.html"/>
